@using System.Net
@using GameStore.Frontend.Models
@using GameStore.Frontend.Services
@attribute [StreamRendering]
@inject BasketState BasketState

<div class="position-relative">
    <a aria-label="cart" href="cart" class="d-flex align-items-center text-decoration-none text-white">
        <i class="bi bi-bag-fill fs-3"></i>
        <span class="position-absolute start-50 translate-middle text-dark fw-bold fs-6" style="top: 60%;">
            @GetTotalQuantity()
        </span>
    </a>
</div>

@code {
    private CustomerBasket? basket;

    protected override async Task OnInitializedAsync()
    {
        BasketState.NotifyOnBasketUpdated(EventCallback.Factory.Create(this, FetchBasketAsync));
        await FetchBasketAsync();
    }

    private async Task FetchBasketAsync()
    {
        basket = await BasketState.GetBasketAsync();
    }

    private int GetTotalQuantity()
    {
        return basket?.Items.Sum(item => item.Quantity) ?? 0;
    }
}